.title{
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px 10px 24px;
}

.enter-nickname{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.fullList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.list{
  width: 100%;
  border-radius: 16px;
  //background-color: white;
}

