.title{
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px 10px 24px;
}

.enter-nickname{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}


