.page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#emailBox{
  width: 600px;
  height: 207px;
  background-color: gainsboro;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#textBox{
  width:342px;
  height: 72px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
#inf{
  margin: auto;
  text-align: center;
  font-size: large;

}
#dis{
  margin: auto;
  text-align: center;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
#input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
