@use 'sass:map';
@use '@angular/material' as mat;


@mixin color($theme) {
  .main-page {
    background-color: mat.get-theme-color($theme, surface);
  }
  .side-bar-container {
    background-color: mat.get-theme-color($theme, surface-container-high);
  }
  .contact_title{
    color: mat.get-theme-color($theme, on-surface);
  }
  .notification-container{
    background-color: mat.get-theme-color($theme, primary-fixed-dim);
    color: mat.get-theme-color($theme,  on-primary-fixed);
  }

  .timer_title{
    color: mat.get-theme-color($theme,  outline);
  }

  .subtitle{
    color: mat.get-theme-color($theme,  outline);
  }

  .dialog{
    background-color: mat.get-theme-color($theme, on-secondary-fixed);
  }
  .message-button{
    background-color:  mat.get-theme-color($theme, on-secondary-fixed);
  }
}

@mixin typography($theme) {
  .notification-container{
      font: mat.get-theme-typography($theme, body-medium, font);
  }
  .timer_title{
    font: mat.get-theme-typography($theme, body-small, font);
  }
  .subtitle{
    font: mat.get-theme-typography($theme, body-small, font);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }

}
