@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .main-page {
    background-color: mat.get-theme-color($theme, surface);
  }
  .mat-toolbar {
    background-color: mat.get-theme-color($theme, surface-container-high);
  }
  .statusOnline{
    background-color: green;
  }
  .statusOffline{
    background-color: grey;
  }

}

@mixin typography($theme) {
  .statusOffline{
    font: mat.get-theme-typography($theme, body-small, font);
  }
  .statusOnline{
    font: mat.get-theme-typography($theme, body-small, font);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }

}
