<div class="display">
  <div class="dialog">
    <h3 mat-dialog-title>Додавання нового чату</h3>

  </div>

  <mat-dialog-content>

    <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
      <mat-label>Username</mat-label>
      <input matInput type="text">

    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <button mat-dialog-close type="submit" mat-raised-button>
      Скасувати
    </button>
    <button type="submit" mat-flat-button>
      Додати
    </button>
  </mat-dialog-actions>
</div>
