@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .message-right-bg{
    background-color: mat.get-theme-color($theme, on-primary);
  }
  .message-left-bg{
    background-color: mat.get-theme-color($theme, surface-container-high);
  }
  .input-field{
    background-color: mat.get-theme-color($theme, surface-container-highest);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
