.message{
  max-width: 500px;
  width: max-content;
  background-color: gainsboro;
  border-radius: 10px;

}
.text{
  margin-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
}
.info{
  margin-right: 5px;
}
