<div class="login-page">
  <div class="login-box">
    <form class="field-box" [formGroup]="loginForm" (submit)="onSubmit()">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
        <mat-label>Електронна адреса</mat-label>
        <input matInput type="email" formControlName="email" required>
        @if (loginForm.get("email")?.invalid) {
          <mat-error>{{loginErrorHandlers.email.getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <div class="recovery-box">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
          <mat-label>Пароль</mat-label>
          <input matInput type="password" [type] = "hidePassword ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Сховати пароль'" [attr.aria-pressed]="hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (loginForm.get("password")?.invalid) {
            <mat-error>{{loginErrorHandlers.password.getErrorMessage()}}</mat-error>
          }
       </mat-form-field>
      </div>
      <div class="buttons">
        <a mat-button routerLink="/register" color="primary">Зареєструватися</a>
        <button type="submit" mat-flat-button color="primary">Увійти</button>
      </div>
    </form>
  </div>
</div>
