@use '@angular/material' as mat;
@use 'app/pages/main-page/main-page-theme.scss' as main-page-theme;
@use 'app/pages/login-page/login-page-theme.scss' as login-page;
@use 'app/pages/registration-page/registration-page-theme.scss' as registration-page;
@use 'app/message/_message-theme.scss' as message-theme;
@use 'app/pages/email-verification-page/_email-verification-theme.scss' as email-verification-theme;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$application-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


:root {
  @include mat.all-component-themes($application-theme);
  @include mat.all-component-typographies($application-theme);
  @include main-page-theme.theme($application-theme);
  @include login-page.theme($application-theme);
  @include registration-page.theme($application-theme);
  @include message-theme.typography-massage($application-theme);
  @include email-verification-theme.typography-verification($application-theme);
}

@include mat.typography-hierarchy($application-theme);

@include mat.color-variants-backwards-compatibility($application-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
